.cp-nav-header {
    background-color: #273a8a;
    position: relative;
}

.cp-nav-logo {
    margin: 1rem;
    display: inline-block;
    width: 100%;
    color: #768598;
    text-decoration: none;
}

.sidebarOpened .cp-nav-logo-image--small {
    opacity: 0;
}

.sidebarOpened .cp-nav-logo-image {
    opacity: 1;
}

.cp-nav-logo-image {
    opacity: 0;
}

.cp-nav-logo-image--small {
    transition: opacity 0.2s cubic-bezier(0.21, 0.61, 0.35, 1);
    position: absolute;
    opacity: 1;
}

.cp-nav-header-toggleNav {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 4rem;
    right: 0.5rem;
    outline: none;
}

.sidebarOpened .cp-nav-header-toggleNav {
    top: 1rem;
}

.sidebarOpened .cp-nav-header-toggleNav {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
