<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500'>
		<link href="https://fonts.googleapis.com/css?family=Sarabun:400,500,600" rel="stylesheet">
		<link href='/react-material-class-layout.min.css' rel='stylesheet'>
		<link href='/app.css' rel='stylesheet'>
		<script src='https://js.stripe.com/v3/' async></script>
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body class='flex layout-column'>
		<div id='app' class='flex layout-column'>
			<div class='flex layout-column layout-align-center-center'>
				<svg
					width='256px'
					viewBox='0 0 24 24'
					xmlns='http://www.w3.org/2000/svg'
				>
					<title>Logo</title>
					<path
						fill='<%= htmlWebpackPlugin.options.SECONDARY %>'
						fillRule='evenodd'
						d='<%= htmlWebpackPlugin.options.LOGO %>'
					/>
				</svg>
			</div>
		</div>
	</body>
</html>
